* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ff7f50;

}

h2 {
    text-align: center;
    font-family: cursive;
    margin-top: 20px;
}

.main_div {
    width: 100%;
    height: 9 0vh;
    background: #ff7f50;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.main_div div {

    margin-top: 50px;
    width: 100%;
    height: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.main_div textarea {
    font-size: 23px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    resize: none;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
    min-height: 200px;
    width: 80vw;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
}

.input {
    font-size: 23px;
}